<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKMANAGER - Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="login-body">
    <div class="login-container">
        <h1>TASKMANAGER</h1>
        <form th:action="@{/login}" method="post">
            <input type="text" name="name" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit" class="login-btn">Iniciar Sesión</button>
        </form>
        <p th:text="${error}"></p>
        <a th:href="@{/register}">Registrarse</a>
    </div>
</body>
</html>