<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKMANAGER - Registro</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="login-body">
    <div class="login-container">
        <h1 th:text="#{register.title}"></h1>
        <form th:action="@{/register}" method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="text" name="name" placeholder="Nombre" required>
    		<input type="text" name="surname" placeholder="Apellidos" required>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" required>
            <button type="submit" class="register-btn" th:text="#{register.button}"></button>
        </form>
        <a th:href="@{/login}" th:text="#{register.login}"></a>
    </div>
</body>
</html>